{:paths ["src"]

 :deps
 {org.clojure/clojure                    {:mvn/version "1.12.0"}
  com.xtdb/xtdb-core                     {:mvn/version "2.1.0"}
  com.github.danlentz/clj-xref           {:mvn/version "0.1.1"}
  com.github.javaparser/javaparser-core  {:mvn/version "3.26.2"}}

 :aliases
 {:xtdb
  {:jvm-opts ["--add-opens=java.base/java.nio=org.apache.arrow.memory.core,ALL-UNNAMED"
               "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}

  :repl
  {:extra-deps {nrepl/nrepl {:mvn/version "1.3.0"}}
   :jvm-opts   ["--add-opens=java.base/java.nio=org.apache.arrow.memory.core,ALL-UNNAMED"
                "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]
   :main-opts  ["-m" "nrepl.cmdline"]}}}
